<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>

    <%- include('../partials/header') %>
      <main>
        <section class="seccion-newproduct">
          <article class="contenedor-newproduct">
            <h4>NUEVO PRODUCTO</h4>
         
            <form action="/admin/products/newProduct" method="post" enctype="multipart/form-data">

              <div class="titulo">
                <label for="name">Nombre</label>
                <input type="text" name="name" id="name">

              </div>
              <div class="titulo">
                <label for="description">Descripción</label>
                <input type="text" name="description" id="description">

              </div>
              <div class="titulo">
                <label for="image">Imagen</label>
                <input type="file" name="image" id="image" accept="image/png, image/gif, image/jpeg">

              </div>
              <div class="titulo">
                <label for="category">Categoría</label>
                <select name="category" id="category">
                  <option value="">Elija una categoría</option>
                  <option value="lotion">Loción</option>
                  <option value="oil">Aceite</option>
                  <option value="liquid">Líquido</option>
                  <option value="gel">Gel</option>
                  <option value="cream">Crema</option>
                </select>

              </div>
              <div class="titulo">
                <label for="amount">Cantidad</label>
                <input type="number" name="amount" id="amount" value="">

              </div>
              <div class="titulo">
                <label for="typeAmount">Tipo de Cantidad</label>
                <select name="typeAmount" id="typeAmount">
                  <option value="">Elija un tipo de cantidad</option>
                  <option value="ml">Milílitros (ml.)</option>
                  <option value="floz">Onzas fluidas (fl. oz.)</option>
                </select>

              </div>
              <div class="titulo">
                <label for="price">Precio</label>
                <input type="number" name="price" id="price" value="">

              </div>
              <div class="titulo">
                <label for="discount">Descuento</label>
                <select name="discount" id="discount">
                  <option value="">Elija un descuento</option>
                  <option value="0">Sin Descuento</option>
                  <option value="10">10%</option>
                  <option value="15">15%</option>
                  <option value="20">20%</option>
                  <option value="25">25%</option>
                  <option value="30">30%</option>
                  <option value="35">35%</option>
                  <option value="40">40%</option>
                  <option value="45">45%</option>
                  <option value="50">50%</option>
                  <option value="55">55%</option>
                  <option value="60">60%</option>
                  <option value="65">65%</option>
                  <option value="70">70%</option>
                  <option value="75">75%</option>
                </select>
              </div>

              <button type="submit" class="enviar">Crear</button>

            </form>
          </article>
        </section>
        <section class="errores">
          <article>
            <div class="errors">
              <ul>
              </ul>
            </div>
          </article>
        </section>
      </main>      

         <%- include('../partials/footer') %>

         <script src="/js/valitationsProducts.js"> </script>
  </body>

</html>