<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>

    <%- include('./partials/header') %>
      <main>
          <section class="seccion-contenedora-admin">
            <article class="administrar-usuarios">
                <h2>Administrar usuarios</h2>
                <a href="admin/users">
                    <img src="./img/otras/imagen_usuarios.png" alt="">
                </a>
                

            </article>
    
            <article class="administrar-productos">
                <h2>Administrar productos</h2>
                <a href="/admin/products">
                <img src="./img/products/3_Angel silver.jpeg" alt="">


                </a>
                
            </article>

          </section>         
      </main>



         <%- include('./partials/footer') %>
     

  </body>
  
</html>



