<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

    <main>
        <section class="seccion-newproduct">
            <article class="contenedor-login">
                <h4>INGRESAR</h4>

 

        <form action="/login" method="post">

            <div class="titulo">
                <label for="email" id="email-user">Email(*)</label>
                <input type="email" name="email" id="email">
            </div>

            <div class="titulo">
                <label for="password" id="password-user">Contraseña(*)</label>
                <input type="password" name="password" id="password">
            </div>

            <p class="titulo">
                <input type="checkbox" name="recordarme"><label class="checkbox-inline">Recordarme</label>
            </p>

            <p class="titulo">¿Nuevo cliente? <a class="referencia" href="/register">Crear cuenta</a></p>


            <div class="errors">
                <ul>
                </ul>
              </div>


              <div class="titulo">
                <input type="submit" class="enviar" value="Ingresar">
              </div>

            
        </form>
    </article>
    </section>
    </main>
    <%- include('./partials/footer') %>
    <script src="/js/valitationsUsers.js"></script>
    
</body>
</html>