html{
  min-height:  100%;
  position: relative;
 
}

body{
 margin: 0;
 margin-bottom: 40px;
 
  
}

main{
  display: flex;  
  background: white
}

.avatar img {
  width: 10vh;
  height: 10vh;
  border :solid 1px red

}


/* 
----------------------------------------
archivos Generales que usa toda la app
----------------------------------------
-header
-Footer
-Banner
----------------------------------------
Vistas especificas (Ruta) 
----------------------------------------
-Home(/)
------------

*/



/* ************************************************************************************************************
------------------------------------------------ Header  --------------------------------------
************************************************************************************************************ */

header {
  background: rgb(199, 109, 109);
  text-align: center;
  color: whitesmoke;
  width: 99.5%;
  
}

header .contenedor{
  text-align: center;
  flex-wrap: nowrap;
  width: 100%;
 }

header .seccion-1{
  display: flex;
  background: #522d2d;
  border-top: brown solid  1px;
  padding: 5px;
  height: 45px;
}

header .seccion-1 img{
  position: relative;
  width: 60px;
  height: 25;
  border-radius: 10%;
  border :brown solid  1px;
  object-fit: cover
}
header .seccion-1 h1{
  color: white;
 
  
}


a{
  text-decoration: none;
  color: white ;
}

header .seccion-2{
  display: flex;
  justify-content: space-around;
  border-top: brown solid  1px;
  background: #522d2d;
  padding: 5px;
  height: 30px;
  
}

header .seccion-2 a :hover{
  transform: scale(1.3);
  color:rgb(243, 96, 187);
  transition: 0.7ms;
  font-size: 18px;
}

header .seccion-2  p :hover{
font-size: 17px;
color:rgb(243, 96, 187);

}


header .seccion-3{
  border-top: brown solid 1px;
  width: 100%;
  padding: 5px;
  height: 45px;
}

@media (min-width: 480px) {
  header .seccion-1{
    border : brown double;
    width: 40%;
    padding: 5px;
  }
  
  
  
  header .seccion-2{
    border: brown double;
    width: 60%;
    height: 45px;
    
    padding: 5px;
  }
  
  header .seccion-3{
    border: brown double;
    width: 30%;
    padding: 5px;
  }

  header .contenedor{
    width: 100%;
    text-align: center;
    display: flex;
    
   }

  

  
}



/* ************************************************************************************************************
------------------------------------------------ -------------------------------------- */
/* ************************************************************************************************************

------------------------------------------------ Footer  --------------------------------------
************************************************************************************************************ */

footer{


  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  text-align: center;
  color: whitesmoke;
  background: rgb(199, 109, 109);
  color: whitesmoke;
  position: absolute;
  bottom: 0;    
  

}

footer .contenedor{
  width: 100%;
  height: 40px;
  text-align: center;
  background: red ;
 }

footer .seccion-1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(199, 109, 109);
  border-top: brown solid  1px;
  width: 100%;
  padding: 7px;
  height: 65px;
  flex-wrap: nowrap;
}

footer .seccion-1 h3{
  margin-bottom: 1%;
}

.contenedor-redes {
  padding: 15px;
  color: white;
}

footer .seccion-2{
  background: rgb(199, 109, 109);
  border-top: brown solid  1px;
  width: 100%;
  padding: 7px;
  height: 65px;
}

footer .seccion-3{
  background: rgb(199, 109, 109);
  border-top: brown solid 1px;
  width: 100%;
  padding: 7px;
  height: 65px;
}

@media (min-width: 480px) {
  footer .seccion-1{
    border : brown double;
    width: 33.3%;
    padding: 5px;
  }
  
  
  footer .seccion-2{
    border: brown double;
    width: 33.3%;
    
    padding: 5px;
  }
  
  footer .seccion-3{
    border: brown double;
    width: 33.3%;
    padding: 5px;
  }

  footer .contenedor{
    width: 100%;
    text-align: center;
    display: flex;
    
   }

  

  
}
/* ************************************************************************************************************
------------------------------------------------ --------------------------------------
************************************************************************************************************ 
------------------------------------------------ --------------------------------------

------------------------------------------------ Banner -------------------------------------------------
************************************************************************************************************ */




.carrusel-items{
  display: flex;
  padding: 10px;
  overflow-x: scroll ;
  overflow-y: hidden;
 

}
.carrusel-item{
  min-width: 100%;
  max-width: 100%;
  height: 300px;
 

}
.carrusel-item:hover{
  transform: scale(1.1);
}

.carrusel-item img{
  width: 100%;
  object-fit: cover;
  height: 90%;
  width: 99.5%; 
  
}

@media (min-width: 480px) {



.carrusel-items{
  display: flex;
  overflow-x: scroll ;
  overflow-x: hidden ;

}
.carrusel-item{
  min-width: 100%;
  max-width: 100%;
  height: 300px;
  
  

}

.carrusel-item img{
  width: 100%;
  object-fit: cover;
  height: 100%;
  width: 99.5%; 
  
}

/* *******************************************************************************************************************
*********************************************************************************************************** */

body{
  font-family: sans-serif;
}

.container{
  margin: auto;
  background-color: white;
  width: 80%;
  padding: 30px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 100%;
  height: 300px;

}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:#fff;
}

ul.slider li img{
  
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu{
  text-align: center;
  margin: 20px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 8px;
  width: 8px;
  height: 8px;
  font-size: 8px;
  border-radius: 100%;
}
/* ----------------------------------------------- Home(/) -------------------------------------------------
************************************************************************************************************ */
main .seccion-contenedora{
  background: white;
  width: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  
}

main .articulo-productos{
  width: 330px;
  height: 300px;
  margin: 20px;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 10%;
  
  text-align: center;

  box-shadow: 10px 11px 64px -9px rgba(0,0,0,0.45);
  -webkit-box-shadow: 10px 11px 64px -9px rgba(0,0,0,0.45);
  -moz-box-shadow: 10px 11px 64px -9px rgba(0,0,0,0.45);

  
}

main .articulo-productos:hover{

  transform: scale(1.2);

  box-shadow: 10px 11px 64px -9px rgba(230, 46, 46, 0.45);
  -webkit-box-shadow: 10px 11px 64px -9px rgba(223, 30, 30, 0.45);
  -moz-box-shadow: 10px 11px 64px -9px rgba(241, 60, 172, 0.45);
}

main .articulo-productos h2{
  margin: auto
}

main .articulo-productos img{
  width: 80%;
  height: 200px;
  object-fit: cover
}





/*
*************************************************************************************************************************************************************************
**************************************************************************************************************************************************************************
**************************************************************************************************************************************************************************

----------------------------------------------- Administrar(/admin) ------------------------------------------------------------------------------------------------------
**************************************************************************************************************************************************************************
*/



.seccion-contenedora-admin{
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top:  50px ;
  justify-content: center;
}




main .administrar-usuarios{
  width: 330px;
  height: 300px;
  margin: 20px;

  color: white;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 10%;

  text-align: center;

  box-shadow: 10px 11px 64px -9px rgba(245, 241, 244, 0.45);
  -webkit-box-shadow: 10px 11px 64px -9px rgba(49, 42, 47, 0.45);
  -moz-box-shadow: 10px 11px 64px -9px rgba(245, 136, 221, 0.45);
  
}

main .administrar-usuarios :hover{
  transform: scale(1.1);
  box-shadow: 10px 11px 64px -9px rgba(245, 241, 244, 0.45);
  -webkit-box-shadow: 10px 11px 64px -9px rgba(241, 70, 193, 0.45);
  -moz-box-shadow: 10px 11px 64px -9px rgba(243, 234, 241, 0.45);
}


main .administrar-usuarios img{
  width: 100%;
  height: 100%;
  border-radius: 6%;
  object-fit:unset;
  background: transparent;


}


main .administrar-productos img{
  width: 100%;
  height: 100%;
  border-radius: 6%;
  background: transparent;
  
}

main .administrar-productos{
  width: 330px;
  height: 300px;
  margin: 20px;
  margin-top: 10px;
  background: rgb(199, 109, 109);
  color: white;
  margin-bottom: 50px;
  border-radius: 10%;
  
  text-align: center;

  box-shadow: 10px 11px 64px -9px rgba(245, 241, 244, 0.45);
  -webkit-box-shadow: 10px 11px 64px -9px rgba(49, 42, 47, 0.45);
  -moz-box-shadow: 10px 11px 64px -9px rgba(245, 136, 221, 0.45);
  
}
main .administrar-productos :hover{
  transform: scale(1.1);
  box-shadow: 10px 11px 64px -9px rgba(245, 241, 244, 0.45);
  -webkit-box-shadow: 10px 11px 64px -9px rgba(241, 70, 193, 0.45);
  -moz-box-shadow: 10px 11px 64px -9px rgba(243, 234, 241, 0.45);

}











/* 

************************************************************************************************************
************************************************************************************************************ */
/* ----------------------------------------------- Administrar(/admin/product) -------------------------------------------------*/

main h1{
  text-align: center;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  
  
}

h1 a{
  width: 160px ;
  background: #522d2d;
  border: solid black 1px;
  margin: auto;
  border-radius: 5%;
}

h1 a:hover{
  color: #522d2d;
    transform: scale(1.1);
    background: #f7f1f1;
}

.contenedor-botones a i{
  color:blue;
}


main .seccion-contenedora-administrar{
  display: flex;

  width: 100;
  flex-wrap: wrap;
  justify-content: center;

  
  
}

main .administrar-producto{
  width: 98%;
  height: 100px;
  margin: 20px;
  margin-top: 10px;
  background: rgb(250, 227, 227);  
  margin-bottom: 40px;
  border-radius: 3%;
  display: flex;
  border: brown solid;
  justify-content:space-between;

  box-shadow: 10px 11px 64px -9px rgba(245, 241, 244, 0.45);
  -webkit-box-shadow: 10px 11px 64px -9px rgba(228, 126, 202, 0.45);
  -moz-box-shadow: 10px 11px 64px -9px rgba(245, 136, 221, 0.45);
}

main .contenedor-imagen{
  width: 25%;
  height: 90% ;
  margin: 5px;
}
main .contenedor-imagen img{
  width: 100%;
  height: 100%;
  object-fit:cover;

}

main .contenedor-nombre {
  width: 85%;
  height: 100%;
}
main .contenedor-nombre .contenedor-botones{
  display: flex;
    justify-content: space-around;
    background: #522d2d;
  }   

@media (min-width: 480px) {

  main .contenedor-imagen{
    width: 12%;
    height: 90% ;
    margin: 5px;
  }

  main .administrar-producto{
    width: 70%;
    height: 100px;
    margin: 20px;
    margin-top: 10px;
    background: rgb(250, 227, 227);  
    margin-bottom: 40px;
    border-radius: 3%;
    border: brown solid;
    display: flex;
  }

  main .contenedor-nombre .contenedor-botones{
  display: flex;
    justify-content: space-around;
    background: #522d2d;
  }   

  main .contenedor-nombre .contenedor-botones a:hover{
    color: rgb(139, 139, 247);

  }

}
  /* ---------------------------------------------------------------------------------------------------------------------------------------
  ------------------------------------------------------------------------------------------------------------------------------------------ */

/* ************************************************************************************************************************************************************
-------------------------------------------------------------------vista login (/login)-----------------------------------------------------------------------
**************************************************************************************************************************************** */



.contenedor-login h4{
  
  
  text-align: center;
  color: brown;
}

.contenedor-login{

  margin-bottom: 10px;
 width: 350px;
 height: 420px;
 border: pink solid 1px;
 border-radius: 5px;
 display: flex;
 flex-direction: column;
 background: rgb(250, 227, 227);   

 box-shadow: 10px 11px 64px -9px rgba(0,0,0,0.45);
 -webkit-box-shadow: 10px 11px 64px -9px rgba(0,0,0,0.45);
 -moz-box-shadow: 10px 11px 64px -9px rgba(0,0,0,0.45);

}

.contenedor-login form .titulo{
  width: 90%;
  height: 38px;
  margin: auto ;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column ;
  

}
.contenedor-login form .errors{
  margin-top: 0;
  height: 90px;

  flex-wrap: wrap;
}

.contenedor-login form .enviar{
  margin: auto;
  margin-top: 0px;
  width: 50%;
  background: brown;  ;
  color: aliceblue;
}

.contenedor-login a {
  color: brown;
}
/* 
/* -----------------------------------------------------------------------------------------------------------------------------------------
***********************************************************************(/Register)---------------------------------------------------------*/


.contenedor-register{

  margin-bottom: 10px;
 width: 350px;
 height: 500px;
 border: pink solid 1px;
 display: flex;
 flex-direction: column;
 background: rgb(250, 227, 227);

 box-shadow: 10px 11px 64px -9px rgba(0,0,0,0.45);
 -webkit-box-shadow: 10px 11px 64px -9px rgba(0,0,0,0.45);
 -moz-box-shadow: 10px 11px 64px -9px rgba(0,0,0,0.45);
}


.contenedor-register form{
  display: flex;
  flex-direction: column; 
}

.contenedor-register h4{
  
  
  text-align: center;
  color: brown;
}

.contenedor-register form .titulo{
  width: 90%;
  height: 38px;
  margin: auto ;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column ;
  

}


.contenedor-register form .errors{
  margin-top: 0;
  height: 90px;
  
  flex-wrap: wrap;
}

.contenedor-register a {
  color: brown;
}

.contenedor-register form .enviar{
  margin: auto;
  margin-top: 0px;
  width: 50%;
  background: brown;  ;
  color: aliceblue;
}



/* ************************************************************************************************************************************************************
-------------------------------------------------------------------vista newProduct (/admin/product/newProduct)-----------------------------------------------------------------------
**************************************************************************************************************************************** */



.seccion-newproduct{
  display: flex;
  padding: 40px;;
  justify-content: center;  

}

.contenedor-newproduct{

  margin-bottom: 10px;
 width: 350px;
 height: 500px;
 border: pink solid 1px;
 display: flex;
 flex-direction: column;
 background: rgb(250, 227, 227);  
 
 box-shadow: 10px 11px 64px -9px rgba(245, 241, 244, 0.45);
 -webkit-box-shadow: 10px 11px 64px -9px rgba(228, 126, 202, 0.45);
 -moz-box-shadow: 10px 11px 64px -9px rgba(245, 136, 221, 0.45);

}


.contenedor-newproduct form{
  display: flex;
  flex-direction: column; 
}

.contenedor-newproduct h4{
  margin-top: 0;
  
  text-align: center;
  color: brown;
}


.contenedor-newproduct form .titulo{
  width: 90%;
  height: 38px;
  margin: auto ;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column ;
  

}

.enviar{
  margin: auto;
  width: 100%;
  background: brown;  ;
  color: aliceblue;
}

.enviar_usuario{
  margin: auto;
  width: 50%;
  margin-top: 60px;
  background: brown;  ;
  color: aliceblue;
}

.errors {
  color: red;
  list-style:none;
  width: 90%;
  height: 38px;
  margin: auto ;
  margin-bottom: 15px;
}

@media (min-width: 480px) {



}
/* ************************************************************************************************************************************
********************************************************************************************************************************************
---------------------------- seccion detalle producto (/detalle y la de /admin/products/detalle) ---------------------------------------------------------------------------------
***************************************************************************************************************************************** */

main .seccion-detalle{

  width: 100%;
  margin: auto;
  flex-direction: column;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 50px;
  
  box-shadow: 10px 11px 64px -9px rgba(0,0,0,0.45);
  -webkit-box-shadow: 10px 11px 64px -9px rgba(0,0,0,0.45);
  -moz-box-shadow: 10px 11px 64px -9px rgba(0,0,0,0.45);

}
.contenedor_imagen{
  width: 90%;
  height: 98%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  

}
.contenedor_detalle{
  width: 90%;
  height: 70%;
  padding-left: 3%;
  

}

.seccion-detalle h2{
  text-align: center;
}

.seccion-detalle img {
  margin:auto;
  width: 100vw;
  height: 100vh;
  
  object-fit:
}

main  .botones {
width: 180px;
height: 50%;
display: flex;

margin: auto;
margin-bottom: 20px;
justify-content: space-around;
} 


@media (min-width: 480px) {

  main .seccion-detalle{
    margin-top: 10px ;
    width: 65%;
    border-radius: 5px ; 
    display: flex;
    flex-direction: row;


    box-shadow: 10px 11px 64px -9px rgba(0,0,0,0.45);
    -webkit-box-shadow: 10px 11px 64px -9px rgba(75, 8, 184, 0.45);
    -moz-box-shadow: 10px 11px 64px -9px rgba(24, 221, 83, 0.45);
     

  }

  .contenedor_imagen{
    width: 40%;
    height: 100%;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    
  
  }
  .contenedor_detalle{
    width: 60%;
    height: 70%;
    padding-left: 3%;
    
  
  }
  
  .seccion-detalle h2{
    text-align: center;
  }
  
  .seccion-detalle img {
    margin:auto;
    width: 100%;
    height: 98%;
    
    object-fit:cover;
  }

}

/* ************************************************************************************************************************************
********************************************************************************************************************************************
------------------------------------------------------------------------------------------------------------
***************************************************************************************************************************************** */


/* PRODUCTCART.html mobile first */

.main_cart .carrito_content {
  background-color: white;
}

.main_cart .carrito_content .carrito_head {
  display: flex;
  width: 100vw;
  height: 7vw;
  align-items: center;
  margin: auto;
  padding: 2px;
  background-color: rgba(156, 85, 242, 1);
}

.main_cart .carrito_content .carrito_head h2 {
  margin: auto;
  font-size: large;
  color: white;
}

.main_cart .carrito_content .product .encabezado {
  width: 100vw;
  display: none;
  flex-direction: row;
  padding: 2px;
}

.main_cart .carrito_content .product .encabezado h2 {
  display: none;
  width: 95%;
  font-size: medium;
  flex-direction: row;
  padding: 5px;
  margin: auto;
}

.main_cart .carrito_content .product .product_detail {
  display: flex;
  flex-direction: column;
  width: 95vw;
  padding: 2vw;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

/* Agregando estilo al carrito*/
.main_cart .carrito_content .product .product_detail img {
  display: flex;
  flex-direction: column;
  width:98%;
  margin-top: 35%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
}

.main_cart .carrito_content .product .product_detail p {
  
  justify-content: center;
  margin: auto;
}

.main_cart .carrito_content .product .product_detail p img {
  width: 80vw;
  display: flex;
  flex-direction: row;
  padding: 2vw;
}

.main_cart .carrito_content .product .product_detail .quantity .minus{
  background-color: white;
  border: none;
  font-size: xx-large;
}
.main_cart .carrito_content .product .product_detail .quantity .plus{
  background-color: white;
  border: none;
  font-size: xx-large;
}

.main_cart .carrito_content .product .product_detail .quantity .input_text{
  background-color: white;
  border: none;
  text-align: center;

}

.main_cart .carrito_content .product .product_detail .quantity {
  min-width: 120px;
    width:10em;
    height: 40px;
    border: 1px solid #222;
    text-align: center;  
   
}

.main_cart .carrito_content .notasytotal {
  display: flex;
  flex-direction: column;
}

.main_cart .carrito_content .notasytotal .notas {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding: 2vw;
  margin: auto;
}

.main_cart .carrito_content .notasytotal .notas p {
  display: flex;
  padding: 2vw;
  margin: 0%;
  align-content: flex-start;
}

.main_cart .carrito_content .notasytotal .notas .comentarios {
  display: flex;
  padding: 2vw;
  color: grey;
  border: 1px solid #ccc;
  margin: 0;
  height: 40vw;
}

.main_cart .carrito_content .notasytotal .notas .cupon {
  display: flex;
  padding: 2vw;
  color: gray;
  border: 1px solid #ccc;
  margin: 0;
  height: 20vw;
}

.main_cart .carrito_content .notasytotal .total {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-bottom: 10%;
  margin: auto;
}

.main_cart .carrito_content .notasytotal .total p {
  display: flex;
  padding: 2px;
  margin: 0%;
  text-align: start;
  align-content: flex-start;
  margin: auto;
}

.main_cart .carrito_content .notasytotal .total button {
  background-color: rgba(87, 103, 247, 1);
  border: none;
  padding: 1vw;
  color: #fff;
  font-weight: normal;
  font-size: 20px;
  margin: auto;
}

.main_cart .carrito_content .notasytotal .total p .cbox1 {
  margin: 0;
}
@media (min-width: 480px) {

  .main_cart .carrito_content .notasytotal {
    display: flex;
    flex-direction: row;
  }  
 
  
  .main_cart .carrito_content .notasytotal .notas .comentarios {
    display: flex;
    padding: 2vw;
    border: 1px solid #ccc;
    color: gray;
    margin: 0;
    height: 5em;
  }
  
  .main_cart .carrito_content .notasytotal .notas .cupon {
    display: flex;
    padding: 2vw;
    border: 1px solid #ccc;
    color: grey;
    margin-bottom: 20%;
    height: 2em;
  }
  
  .main_cart .carrito_content .notasytotal .total {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
    margin: auto;
    text-align: center;
  }
  
  .main_cart .carrito_content .notasytotal .total p {
    display: flex;
    padding: 2px;
    margin: 0%;
    text-align: start;
    align-content: flex-start;
    margin: auto;
  }
  
  .main_cart .carrito_content .notasytotal .total button {
    background-color: rgba(87, 103, 247, 1);
    border: none;
    padding: 1vw;
    color: #fff;
    font-weight: normal;
    font-size: 20px;
    margin: auto;
  }
  
  .main_cart .carrito_content .notasytotal .total p .cbox1 {
    margin: 0;
  }
  .main_cart .carrito_content .product .product_detail .quantity{
    min-width: 120px;
    width:10em;
    height: 40px;
    border: 1px solid #222;
    text-align: center;  
   
  }
  .main_cart .carrito_content .product .product_detail .quantity .minus{
    background-color: white;
    border: none;
    font-size: xx-large;
  }
  .main_cart .carrito_content .product .product_detail .quantity .plus{
    background-color: white;
    border: none;
    font-size: xx-large;
  }

  .main_cart .carrito_content .product .product_detail .quantity .input_text{
    background-color: white;
    border: none;
    text-align: center;

  }

}