<footer>
    <section class="contenedor">    
     
      <section class="seccion-1">
        <h3>Contáctenos</h3>
        <article>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-whatsapp"></i>
          <i class="fab fa-instagram"></i>          
        </article>
       
      </section>
      
      <section class="seccion-2"> <p>
        <p>Suscríbete y entérate de nuestras ofertas y productos</p>
      </p></section>
     
      <section class="seccion-3"> 
        <i class="fas fa-user-shield"></i>
        <p>Compra 100% Segura</p>
      </section>
    </section>

  
  </footer>