<header>
  <section class="contenedor">
    <section class="seccion-1">
      <a href="/"> <img src="/img/logo/PL_Fondo_rape_oscuro.png" alt="Logo de Parfum Légende"></a>
      <h1>Parfum Légende</h1>
    </section>

    <section class="seccion-2">

      <% if(locals.usuario) { %>

        <p><a href="/">| Inicio |</a></p>
        <p><a href="/products/cart"><i class="fas fa-shopping-cart"></i></a></p>
        <p><a href="/admin">| Administrar |</a></p>
        <section class="avatar">
          <img src="/images/users/<%=locals.usuario.avatar %>" style='border-radius: 100%;' alt="">
      </section>
        <p><a href="/user/logout">| Cerrar sesión |<i class="fas fa-sign-out-alt"></i></a></p>

        <% } else { %>
          <p><a href="/">| Inicio |</a></p>
          <p><a href="/register"><i class="fas fa-user"></i></a></p>
          <p><a href="/login"><i class="fas fa-sign-in-alt"></i></a></p>
          <p><a href="/products/cart"><i class="fas fa-shopping-cart"></i></a></p>

          <%}%>

    </section>

  </section>


</header>