<header>
    <section class="contenedor">    
      <section class="seccion-1"> 
        <a href="/"> <img src="/img/logo/PL_Fondo_rape_oscuro.png" alt="Logo de Parfum Légende"></a>
        <h1>Parfum Légende</h1>
      </section>

      <section class="seccion-2">

        <p><a href="/">| Inicio |</a></p>
        <p><a href="/products/cart"><i class="fas fa-shopping-cart"></i></a></p>
        <p><a href="/admin">| Administrar |</a></p>  
        <p><a href="/user/logout">| Cerrar sesión |<i class="fas fa-sign-out-alt"></i></a></p>
        
        </section>
      
    </section>

    
  </header>