<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

  <body>
    <%- include('../partials/header') %>
      <main>
        <% if (data) { %>


<p>
  <%=data%>
</p>

        <section class="seccion-newproduct">
          <article class="contenedor-newproduct">
            <h4>EDITAR USUARIO</h4>
            <form action="/admin/users/editUser/:id" method="post" enctype="multipart/form-data">

              <div class="titulo">
                <label for="">Nombre(s)</label>
                <input type="text" name="nombre">
              </div>

              <div class="titulo">
                <label for="">Apellidos</label>
                <input type="text" name="apellidos">
              </div>

              <div class="titulo">
                <label for="">Email</label>
                <input type="email" name="email">
              </div>

              
              <div class="titulo">
                <label for="">Contraseña</label>
                <input type="password" name="password">
              </div>

              <div class="titulo">
                <label for="">Avatar</label>
                <input type="file" name="image">
              </div>

              <div class="titulo">
                <label for="rol">Rol</label>
                <select name="rol" id="rol">
                  <option id="rol" value="Administrador">Administrador</option>
                  <option id="rol" value="Cliente">Cliente</option>
                </select>
              </div>

              <button type="submit" class="enviar">Editar
              </button>

            </form>

          </article>

        </section>


        <% } %>
      </main>
      <%- include('../partials/footer') %>
  </body>

</html>